﻿@model PlaylistGenerator.Web.Models.User.CollectionUserFullViewModels

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var iva = Model.Users.First(x => x.FirstName == "Iva");
    var petar = Model.Users.First(x => x.FirstName == "Petar");
}

@*PROJECTS*@
<div class="row">
    <div class="col-md-12 card p-3">
        <h4 class="text-primary">OUR PROJECTS TOGETHER</h4>
        <a href="https://gitlab.com/Iva_Pavlova/team9projectplaylistgenerator" target="_blank"><i class="fab fa-gitlab"></i> Team9Project3PlaylistGenerator</a>
        <p>
            'PlaylistGenerator' is a web application that is your best friend on the road - if you need a sountrack for your travel generated just for you!
        </p>
        <p>Technologies:</p>
        <ul>
            <li>Automapper</li>
            <li>EntityFrameworkCore</li>
            <li>Hangfire</li>
            <li>jQuery</li>
            <li>Serilog</li>
            <li>Swagger</li>
        </ul>
        <br />

        <a href="https://gitlab.com/petartotev/team4project2beeroverflow" target="_blank"><i class="fab fa-gitlab"></i> Team4Project2BeerOverflow</a>
        <p>
            'BeerOverflow'* is a web application which provides a community-driven platform for sharing the love for beer.
        </p>
        <p>Technologies:</p>
        <ul>
            <li>EntityFrameworkCore</li>
            <li>Moq</li>
            <li>NUnit</li>
        </ul>
        <br />

        <a href="https://gitlab.com/petartotev/team4project1wimcapp" target="_blank"><i class="fab fa-gitlab"></i> Team4Project1WIMCApp</a>
        <p>
            'BoardRApp'* is a console application that enables its users to organize and prioritize their projects in a fun, flexible and rewarding way.
        </p>
        <br />

        <p>* These projects are private. Link can be provided upon request.</p>
    </div>
</div>

@*TEAM*@
<div class="row">
    @*IVA*@
    <div class="col-md-6">
        <div class="card p-3">
            <br /><p class="h2 text-center">@iva.FirstName @iva.LastName</p>
            <div class="text-center">
                <a href="@Url.Action("UserById", "Users", new { id = iva.Id })">
                    <img src="@iva.Image" id="img-circle" height="300" />
                </a>
                <br />
            </div>
            <br />
            <div>
                <h4 class="text-primary">SUMMARY</h4>     
                <p>
                    If precision and stubbornness had a kid, that would be me.
                </p>                
            </div>
            <br />

            <div>
                <h4 class="text-primary">FIND ME ONLINE</h4>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://gitlab.com/Iva_Pavlova" target="_blank"><i class="fab fa-gitlab fa-2x"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://gitlab.com/Iva_Pavlova" target="_blank"><p>https://gitlab.com/Iva_Pavlova</p></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-11">
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>

    @*PETAR*@
    <div class="col-md-6">
        <div class="card p-3">
            <br /><p class="h2 text-center">@petar.FirstName @petar.LastName</p>
            <div class="text-center">
                <a href="@Url.Action("UserById", "Users", new { id = iva.Id })">
                    <img src="@petar.Image" id="img-circle" height="300" />
                </a>
                <br />
            </div>
            <br />
            <div>
                <h4 class="text-primary">SUMMARY</h4>
                <p>
                    Curiosity killed the cat but resurrected a code-loving dog from the ashes of the boring daily routines as an architect.
                </p>                
            </div>
            <br />

            <div>
                <h4 class="text-primary">FIND ME ONLINE</h4>
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://www.petartotev.net" target="_blank"><i class="fas fa-globe fa-2x"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://www.petartotev.net" target="_blank"><p>www.petartotev.net</p></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://www.github.com/petartotev" target="_blank"><i class="fab fa-github fa-2x"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://www.github.com/petartotev" target="_blank"><p>www.github.com/petartotev</p></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://www.gitlab.com/users/petartotev" target="_blank"><i class="fab fa-gitlab fa-2x"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://www.gitlab.com/users/petartotev" target="_blank"><p>www.gitlab.com/users/petartotev</p></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <a href="https://www.linkedin.com/in/petartotev" target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                    </div>
                    <div class="col-md-11">
                        <a href="https://www.linkedin.com/in/petartotev" target="_blank"><p>www.linkedin.com/in/petartotev</p></a>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
<br />