﻿@{
    ViewData["Title"] = "EmailSuccess";
}

<div class="row text-center">
    <div class="col md-12 text-center">
        <p class="display-4">Your email was sent successfully.</p>
        <img src="~/images/success.gif" width="750" />
        <p class="display-4">Cheers, Mate!</p>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-small btn-outline-success"><p>Go back</p></a>
    </div>
</div>