﻿@{
    ViewData["Title"] = "EmailError";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col md-8 text-center">
        <div class="card p-3 ">
            <h3 class="text-success text-center">Sorry, your message was not sent.</h3>
            <div class="text-center">
                <img src="~/images/sad.gif" width="750" />
            </div>
            <br />
            <h4 class="text-success text-center">Please, try again later!</h4>
            <br />
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-small btn-info"><i class="tim-icons icon-minimal-left"></i></a>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>