﻿@model PlaylistGenerator.Web.Models.Syncronization.SyncronizationViewModel
@{
    ViewData["Title"] = "Genres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Genres</h1>*@

<partial name="_AdminsPartial" />

<input type="button" class="btn btn-primary btn-round" id="updateGenresButton" value="Syncronize Genres" onclick="disableUpdateGenresButton(); displayBusyIndicator(); window.location = '@Url.Action("UpdateGenres", "Admins")'" />
<partial name="_LoadingPartial" />

<br />

<div class="card">
    @if (Model == null)
    {
    <div class="card-header font-weight-light">
        <h5 class="card-category">No Synchronizations yet.</h5>
    </div>
    }
    else
    {
        <div class="card-header">
            <h5 class="card-category">Last Syncronization:</h5>
        </div>
        <div class="card-body">
            <table class="table table w-75">
                <thead>
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.Date UTC</td>
                        <td>
                            @if (Model.IsComplete)
                            {
                                <b>Complete</b>
                            }
                            else if (Model.WasInterrupted)
                            {
                                <b>Interrupted</b>
                            }
                            else
                            {
                                <b>In Progress</b>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
</div>

