﻿@model PlaylistGenerator.Web.Models.Playlist.CollectionPlaylistLightViewModels

@{
    int num = 0;
}

@{
    ViewData["Title"] = "Playlists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_AdminsPartial" />

<partial name="_PageNavigatorPartial" model="@Model" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Playlists</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    #
                                </th>
                                <th>
                                    Image
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    <i class="tim-icons icon-calendar-60"></i> Created
                                </th>
                                <th>
                                    <i class="tim-icons icon-calendar-60"></i> Modified
                                </th>
                                <th>
                                    User
                                </th>
                                <th>
                                    <i class="tim-icons icon-time-alarm"></i> Travel
                                </th>
                                <th>
                                    <i class="tim-icons icon-time-alarm"></i> Playlist
                                </th>
                                <th>
                                    Count Genres
                                </th>
                                <th>
                                    Count Songs
                                </th>
                                <th>
                                    Rank
                                </th>
                                <th class="text-center">
                                    Update
                                </th>
                                <th class="text-center">
                                    List / Unlist
                                </th>
                                <th class="text-center">
                                    Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CollectionPlaylists)
                            {
                                num++;
                                <tr>
                                    <td>
                                        @(num + (@Model.CurrentPage * Model.PageSize) - Model.PageSize)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("PlaylistById", "Playlists", new { id = item.Id })"><img src="@item.Image" id="img-circle" height="50"></a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("PlaylistById", "Playlists", new { id = item.Id })"><p>@item.Name</p></a>
                                    </td>
                                    <td>
                                        <p>@item.DateCreated</p>
                                    </td>
                                    <td>
                                        <p>@item.DateModified</p>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("UserById", "Users", new { id = item.UserId })"><p><img src="@item.UserImage" id="img-circle" height="30" /> @item.UserName</p></a>
                                    </td>
                                    <td>
                                        <p>@item.DurationTravel</p>
                                    </td>
                                    <td>
                                        <p>@item.DurationPlaylist</p>
                                    </td>
                                    <td>
                                        <p>@item.GenresCount</p>
                                    </td>
                                    <td>
                                        <p>@item.SongsCount</p>
                                    </td>
                                    <td>
                                        <p>@item.Rank.ToString("F0")</p>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-primary btn-round" onclick="window.location='@Url.Action("Update", "Playlists", new { id = item.Id })'"><i class="tim-icons icon-pencil"></i></button>
                                    </td>
                                    <td class="text-center">
                                        @if (item.IsUnlisted)
                                        {
                                            <button type="button" class="btn btn-success btn-round" onclick="window.location='@Url.Action("SwapUnlistedStatus", "Playlists", new { id = item.Id, isSwappedByAdmin = true, page = Model.CurrentPage })'"><i class="tim-icons icon-simple-add"></i></button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-warning btn-round" onclick="window.location='@Url.Action("SwapUnlistedStatus", "Playlists", new { id = item.Id, isSwappedByAdmin = true, page = Model.CurrentPage })'"><i class="tim-icons icon-simple-remove"></i></button>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @{
                                            item.IsToBeDeletedByAdmin = true;
                                            item.NameController = "Playlists";
                                            item.CurrentPage = Model.CurrentPage;
                                        }
                                        <partial name="_DeleteModalPartial" model="@item" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<br />