﻿@model PlaylistGenerator.Web.Models.Syncronization.SyncronizationViewModel
@{
    ViewData["Title"] = "Genres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Genres</h1>*@

<!--<partial name="_AdminsPartial" />

@if(Model == null)
{
    <b>No syncronizations have been made so far.</b>
}else 
{ 
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>@Model.Date</td>
            <td>
                @(Model.WasInterrupted ? "Interrupted" : "");
                @(Model.IsComplete ? "Complete" : "");
            </td>
        </tr>
    </tbody>
</table>
}-->
