﻿@model PlaylistGenerator.Web.Models.Playlist.PlaylistCreateFormViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h2>Create Playlist!</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card p-3">
            <div class="text-center">
                <img src="~/images/logo_square_white.png" alt="logo-square" height="50" />
            </div>
            <form asp-controller="Playlists" asp-action="Create" method="post" class="form" id="createPlaylistForm" onsubmit="displayBusyIndicator()" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div> <!--UL list -->
                <p><b class="text-success">Travel information:</b></p>
                <div>
                    <div class="container-iframe">
                        <iframe id="iframe-bing" class="responsive-iframe" width="600" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=600&cp=42.697710~23.321745&lvl=11&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
                        </iframe>
                        @*<div style="white-space: nowrap; text-align: center; width: 600px; padding: 6px 0;">
                            <a id="largeMapLink" target="_blank" href="https://www.bing.com/maps?cp=42.5019~27.472800000000003&amp;sty=r&amp;lvl=11&amp;FORM=MBEDLD">View Larger Map</a> &nbsp; | &nbsp;
                            <a id="dirMapLink" target="_blank" href="https://www.bing.com/maps/directions?cp=42.5019~27.472800000000003&amp;sty=r&amp;lvl=11&amp;rtp=~pos.42.5019_27.472800000000003____&amp;FORM=MBEDLD">Get Directions</a>
                        </div>*@
                    </div>
                    <br />
                </div>

                <div class="row" id="create-form-location-section">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="PointFirstQueryString">Point A:</label>
                            <input asp-for="PointFirstQueryString" class="form-control" id="point-a-input" />
                            <span asp-validation-for="PointFirstQueryString" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <br />
                        <button type="button" id="buttonLocation" onclick="getLocation()" class="text-center btn btn-primary btn-round" data-toggle="tooltip" data-placement="top" title="Share location"><i class="fas fa-map-marker-alt"></i></button>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="PointSecondQueryString">Point B:</label>
                    <input asp-for="PointSecondQueryString" class="form-control" />
                    <span asp-validation-for="PointSecondQueryString" class="text-danger"></span>
                </div>

                <hr class="border-primary" />
                <p><b class="text-success">Preferences:</b></p>

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div>
                    <label>Attach Image</label><br />
                    <input type="file" name="ImageFile" class="btn btn-success btn-sm btn-round" id="create-form-image-upload"/>
                    <br />
                    <br />
                </div>

                @for (int i = 0; i < Model.Genres.Count(); i++)
                {
                    <input type="checkbox" asp-for="@Model.Genres[i].IsSelected" />
                    <label asp-for="@Model.Genres[i].IsSelected">@Model.Genres[i].Name</label>
                    <input type="hidden" asp-for="@Model.Genres[i].Id" />
                    <input type="hidden" asp-for="@Model.Genres[i].Name" />
                }

                <br />
                <br />
                @Html.CheckBoxFor(m => m.IsTopTracksOptionEnabled)
                <i>Use top tracks</i><br />
                <br />
                @Html.CheckBoxFor(m => m.IsTracksFromSameArtistEnabled, new { @checked = "checked" })
                <i>Allow tracks from the same artist</i>
                <br />
                <br />

                <button type="submit" class="btn btn-primary btn btn-round"><i class="tim-icons icon-send"></i></button>
                <br /><br />
                <partial name="_LoadingPartial" />
            </form>
        </div>
    </div>
    <div class="col-lg-4"></div>
</div>
<br />
