﻿@model PlaylistGenerator.Web.Models.Playlist.CollectionPlaylistLightViewModels

@{
    ViewData["Title"] = "MyPlaylists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <input type="button" value="Create a Playlist for your Travel!" onclick="window.location='@Url.Action("Create", "Playlists")'" class="btn btn-lg btn-primary btn-round" /><br /><br />
    </div>
</div>

@foreach(var item in Model.CollectionPlaylists)
{
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card p-3">
                <h4 class="text-center">@item.Name</h4>
                <div class="text-center">
                    <a href="@Url.Action("PlaylistById", "Playlists", new { id = item.Id })">
                        <img src="@item.Image" class="img-circle-lg" />
                    </a>
                </div>
                <p class="text-right">@item.UserName <a href="@Url.Action("UserById", "Users", new { id = item.UserId })"><img src="@item.UserImage" height="40" id="img-circle" /></a></p>
                <br />
                <p class="text-center"><i>@item.Description</i></p>
                <br />
                <p class="text-center"><b><i class="tim-icons icon-calendar-60"></i> Created:</b> @item.DateCreated.ToString().Split(' ').ToArray()[0]</p>
                <br />
                <br />
                <div class="row text-center">
                    <div class="col-md-3 text-center"><p><i class="tim-icons icon-time-alarm"></i></p></div>
                    <div class="col-md-3 text-center"><p><i class="tim-icons icon-chart-bar-32"></i></p></div>
                    <div class="col-md-3 text-center"><p>Genres</p></div>
                    <div class="col-md-3 text-center"><p>Songs</p></div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3 text-center"><p>@(item.DurationPlaylist / 60) min</p></div>
                    <div class="col-md-3 text-center"><p>@item.Rank.ToString("F0")</p></div>
                    <div class="col-md-3 text-center"><p>@item.GenresCount</p></div>
                    <div class="col-md-3 text-center"><p>@item.SongsCount</p></div>
                </div>
                <br />
                @if (User.IsInRole("Admin") || (User.Identity.Name == item.UserName && User.Identity.Name != null && item.UserName != null))
                {
                    <div class="text-center">
                        <button type="button" class="btn btn-primary btn-round" onclick="window.location='@Url.Action("Update", "Playlists", new { id = item.Id })'"><i class="tim-icons icon-pencil"></i></button>
                        @if (User.IsInRole("Admin"))
                        {
                            @if (item.IsUnlisted)
                            {
                                <button type="button" class="btn btn-success btn-round" onclick="window.location='@Url.Action("SwapUnlistedStatus", "Playlists", new { id = item.Id, isSwappedByAdmin = true, page = Model.CurrentPage })'"><i class="tim-icons icon-simple-add"></i></button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-warning btn-round" onclick="window.location='@Url.Action("SwapUnlistedStatus", "Playlists", new { id = item.Id, isSwappedByAdmin = true, page = Model.CurrentPage })'"><i class="tim-icons icon-simple-remove"></i></button>
                            }
                        }
                        @{
                            item.IsToBeDeletedByAdmin = false;
                            item.NameController = "Playlists";
                            item.CurrentPage = Model.CurrentPage;
                        }
                        <partial name="_DeleteModalPartial" model="@item" />
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br />
}