﻿@using PlaylistGenerator.Web.Models.Playlist
@using PlaylistGenerator.Web.Models.Genre
@model PlaylistGenerator.Web.Models.Playlist.PlaylistFullViewModel

@{
    ViewData["Title"] = "PlaylistById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int numSongs = 1;
    int numGenres = 1;
    int numSimilarPlaylists = 1;
    int numSongsTop3 = 1;
}

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <div class="card p-3">
            <p class="h2 text-center">@Model.Name</p>
            <div class="text-center">
                <a href="@Url.Action("PlaylistById", "Playlists", new { id = Model.Id })">
                    <img src="@Model.Image" id="img-circle" height="300" />
                </a>
            </div>

            <p class="text-right">@Model.UserName <a href="@Url.Action("UserById", "Users", new { id = Model.UserId })"><img src="@Model.UserImage" height="40" id="img-circle" /></a></p>
            <br />
            <p class="text-center"><i>@Model.Description</i></p>
            <br />
            <p class="text-center"><b><i class="tim-icons icon-calendar-60"></i> Created:</b> @Model.DateCreated.ToString().Split(' ').ToArray()[0]</p>
            <br />
            <div class="row text-center">
                <div class="col-md-3 text-center"><p><i class="tim-icons icon-time-alarm"></i></p></div>
                <div class="col-md-3 text-center"><p><i class="tim-icons icon-chart-bar-32"></i></p></div>
                <div class="col-md-3 text-center"><p>Genres</p></div>
                <div class="col-md-3 text-center"><p>Songs</p></div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 text-center"><p>@(Model.DurationPlaylist / 60) min</p></div>
                <div class="col-md-3 text-center"><p>@Model.Rank.ToString("F0")</p></div>
                <div class="col-md-3 text-center"><p>@Model.GenresCount</p></div>
                <div class="col-md-3 text-center"><p>@Model.SongsCount</p></div>
            </div>

            @if (User.IsInRole("Admin"))
            {
                <div class="alert alert-danger">
                    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="tim-icons icon-simple-remove"></i>
                    </button>
                    <span>
                        <b>Admins only section</b>
                        <hr />
                        <b>Playlist Id: </b>@Model.Id<br />
                        <b>User Id:</b>@Model.UserId<br />
                        <b>Date Created: </b>@Model.DateCreated<br />
                        <b>Date Modified: </b>@Model.DateModified<br />
                        <b>Unlisted: </b>@Model.IsUnlisted<br />
                        <b>Deleted: </b>@Model.IsDeleted<br />
                        <b>Duration Playlist: </b>@(Model.DurationPlaylist/60) minutes<br />
                        <b>Duration Travel: </b>@(Model.DurationTravel/60) minutes
                    </span>
                </div>
            }

            <br />

            <p class="text-center">
                <button onclick="expandList(`table-genres`)" class="btn btn-round btn-primary">
                    <i class="tim-icons icon-atom"></i>   Genres <i class="tim-icons icon-minimal-down"></i>
                </button>
            </p>
            <table id="table-genres" class="table table-dark table-striped table-bordered text-white" style="visibility:collapse">
                <tr>
                    <th style="width:5%;">#</th>
                    <th>Genre</th>
                </tr>
                @foreach (var genre in Model.Genres)
                {
                    var currentGenreForPlaylistModel = new List<GenreFullViewModel>();
                    currentGenreForPlaylistModel.Add(genre);
                    var currentPlaylistModel = new CollectionPlaylistLightViewModels { Genres = currentGenreForPlaylistModel };
                    <tr>
                        <td>@(numGenres++)</td>
                        <td>
                            <a href="@Url.Action("All", "Playlists", new { input = currentPlaylistModel })"><img src="@genre.PictureURL" id="img-circle" height="30" /></a>
                            <a class="text-white" href="@Url.Action("All", "Playlists", new { input = currentPlaylistModel })">
                                @genre.Name
                            </a>
                        </td>
                    </tr>
                }
            </table>

            <br />
            <p class="text-center">
                <button onclick="expandList(`table-songs`)" class="btn btn-round btn-primary">
                    <i class="tim-icons icon-sound-wave"></i>   Songs <i class="tim-icons icon-minimal-down"></i>
                </button>
            </p>
            <table id="table-songs" class="table table-dark table-striped table-bordered text-white" style="visibility:collapse">
                <tr>
                    <th>#</th>
                    <th>Song</th>
                    <th>Duration</th>
                    <th>Preview</th>
                </tr>
                @foreach (var song in Model.Songs)
                {
                    <tr>
                        <td>@(numSongs++)</td>
                        <td><a class="text-white" target="_blank" href="@song.SongURL"><b>@song.Name</b> by @song.Artist</a></td>
                        <td>@song.DurationInMinutes</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-primary play-button" id="@song.DeezerId" onClick="play(this.id);">
                                <i class="tim-icons icon-triangle-right-17"></i>
                            </button>
                            <audio id="audio-@song.DeezerId" src="@song.PreviewURL"></audio>
                        </td>
                    </tr>
                }
            </table>
            @if (User.IsInRole("Admin") || (User.Identity.Name == Model.UserName && User.Identity.Name != null && Model.UserName != null))
            {
                Model.IsToBeDeletedByAdmin = false;
                Model.NameController = "Playlists";
                <hr />
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-round" onclick="window.location='@Url.Action("Update", "Playlists", new { id = Model.Id })'"><i class="tim-icons icon-pencil"></i></button>
                    <partial name="_DeleteModalPartial" model="@Model" />
                </div>
            }
        </div>
    </div>
    <div class="col-lg-5">
        <div class="card p-3">
            <h3>Similar Playlists</h3>
            <table class="table tablesorter " id="">
                <thead class="text-primary">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Name
                        </th>
                        <th class="text-center">
                            <i class="tim-icons icon-time-alarm"></i>
                        </th>
                        <th class="text-center">
                            <i class="tim-icons icon-chart-bar-32"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var playlist in Model.PlaylistsSimilar)
                    {
                        <tr>
                            <td>
                                @(numSimilarPlaylists++)
                            </td>
                            <td>
                                <a href="@Url.Action("PlaylistById", "Playlists", new { id = playlist.Id })"><img src="@playlist.Image" id="img-circle" height="30"></a>
                            </td>
                            <td>
                                @playlist.Name
                            </td>
                            <td class="text-center">
                                @(playlist.DurationPlaylist / 60)
                            </td>
                            <td class="text-center">
                                @playlist.Rank.ToString("F0")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card p-3">
            <h3>Top 3 Songs</h3>
            <table class="table tablesorter " id="">
                <thead class="text-primary">
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Name
                        </th>
                        <th class="text-center">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var song in Model.SongsTop3)
                    {
                        <tr>
                            <td>
                                @(numSongsTop3++)
                            </td>
                            <td>
                                <a class="text-white"  target="_blank" href="@song.SongURL"><b>@song.Name</b> by @song.Artist</a>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-primary play-button" id="@song.DeezerId-top" onClick="play(this.id);">
                                    <i class="tim-icons icon-triangle-right-17"></i>
                                </button>
                                <audio id="audio-@song.DeezerId-top" src="@song.PreviewURL"></audio>
                            </td>s
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card p-3">
            <h3>Play Most Popular Song</h3>
            <partial name="_SongWidgetPartial_Big" model="@Model.SongsTop3.First()" />
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>
<br />

<script src="~/js/DeezerWidget.js"></script>