﻿@model PlaylistGenerator.Web.Models.Contracts.IDeletable

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-round" data-toggle="modal" data-target="#modalDeletePlaylist@(Model.Id)"><i class="tim-icons icon-trash-simple"></i></button>
<!-- Modal -->
<div class="modal fade" id="modalDeletePlaylist@(Model.Id)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-dark">
                Are you sure you want to delete @Model.Name?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-round" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-round" onclick="window.location='@Url.Action("Remove", $"{Model.NameController}", new { id = Model.Id, isRemovedByAdmin = Model.IsToBeDeletedByAdmin, page = Model.CurrentPage })'">Yes</button>
            </div>
        </div>
    </div>
</div>