﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<PlaylistGenerator.Data.Models.User> SignInManager
@inject UserManager<PlaylistGenerator.Data.Models.User> UserManager
@inject PlaylistGenerator.Services.Contracts.IUserService userService

@{ 
    var userCurrent = await userService.GetUserByEmailAsync(User.Identity.Name);
}

<ul class="navbar-nav text-white">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><img src="@userCurrent.Image" height="30" id="img-circle" /> Hello @userCurrent.FirstName!</a>
        </li>
        <li class="nav-item">
            <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="nav-link btn btn-link text-white">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>