﻿@model PlaylistGenerator.Web.Models.Contracts.IPagingCollection

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-4 text-left">
        <a href="@Model.Url?page=@Model.FirstPage" class="float-left btn btn-outline-info @(Model.IsPreviousPageDisabled ? "disabled" : String.Empty)"><i class="tim-icons icon-minimal-left"></i><i class="tim-icons icon-minimal-left"></i></a>
        <a href="@Model.Url?page=@Model.PreviousPage" class="float-left btn btn-outline-info @(Model.IsPreviousPageDisabled ? "disabled" : String.Empty)"><i class="tim-icons icon-minimal-left"></i></a>
    </div>
    <div class="col-md-4 text-center">
        <h4>@Model.CurrentPage / @(Model.LastPage == Int32.MinValue ? 1 : Model.LastPage)</h4>
    </div>
    <div class="col-md-4 text-right">
        <a href="@Model.Url?page=@Model.LastPage" class="float-right btn btn-outline-info @(Model.IsNextPageDisabled ? "disabled" : String.Empty)"><i class="tim-icons icon-minimal-right"></i><i class="tim-icons icon-minimal-right"></i></a>
        <a href="@Model.Url?page=@Model.NextPage" class="float-right btn btn-outline-info @(Model.IsNextPageDisabled ? "disabled" : String.Empty)"><i class="tim-icons icon-minimal-right"></i></a>
    </div>
</div>
<br />