﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="scroll-header">
    <div class="scroll-container">
        <div class="scroll-bar" id="myBar"></div>
    </div>
</div>
<div class="content"></div>