﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Oops! Something went wrong...</h1>
<input type="image" onclick="window.location='@Url.Action("Index", "Home")'" src="https://i.imgur.com/dKLxNgb.gif" alt="Carry on..." style="width:40%" />
