﻿@model PlaylistGenerator.Web.Models.User.CollectionUserFullViewModels

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_ScrollbarPartial" />

<partial name="_PageNavigatorPartial" model="@Model" />

<div class="row">
    @foreach (var item in Model.Users)
    {
        <div class="col-lg-3">
            <div class="card card-user @(item.IsAdmin ? "border border-success" : "")">
                <div class="card-body">
                    <p class="card-text">
                    </p><div class="author">
                        <div class="block block-one"></div>
                        <div class="block block-two"></div>
                        <div class="block block-three"></div>
                        <div class="block block-four"></div>
                        <a href="@Url.Action("UserById", "Users", new { id = item.Id })">
                            <img src="@item.Image" class="img-circle-lg" />
                            <br />
                            <h3 class="title">@item.FirstName @item.LastName</h3>
                        </a>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <p class="text-center"><i class="tim-icons icon-calendar-60"></i></p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center"><i class="tim-icons icon-headphones"></i></p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <p class="text-center">@item.DateCreated.ToString().Split(" ")[0]</p>
                            </div>
                            <div class="col-md-4">
                                <p class="text-center">@item.PlaylistsCount</p>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                    </div>
                    <p></p>
                    <div class="card-description"></div>
                </div>
                <div class="card-footer">
                    @if (User.IsInRole("Admin"))
                    {
                        <br />
                        <div class="text-center">
                            @if (item.IsBanned)
                            {
                                <button type="button" class="btn btn-success btn-round" onclick="window.location='@Url.Action("SwapBanStatus", "Users", new { id = item.Id, isSwappedByAdmin = true, page = Model.CurrentPage })'"><i class="tim-icons icon-simple-add"></i></button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-warning btn-round" onclick="window.location='@Url.Action("SwapBanStatus", "Users", new { id = item.Id, isSwappedByAdmin = true, page = Model.CurrentPage })'"><i class="tim-icons icon-simple-remove"></i></button>
                            }
                            @{
                                item.Name = item.FirstName = " " + item.LastName;
                                item.IsToBeDeletedByAdmin = false;
                                item.NameController = "Users";
                                item.CurrentPage = Model.CurrentPage;
                            }
                            <partial name="_DeleteModalPartial" model="@item" />
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>
<br />

@section Scripts {

}