﻿@using PlaylistGenerator.Web.Models.Playlist
@using PlaylistGenerator.Web.Models.Genre
@model PlaylistGenerator.Web.Models.Genre.CollectionGenresFullViewModels
@{
    ViewData["Title"] = "All";
}

<div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="row">
            @foreach (var item in Model.Collection)
            {
                var currentGenreForPlaylistModel = new List<GenreFullViewModel>();
                currentGenreForPlaylistModel.Add(item);
                var currentPlaylistModel = new CollectionPlaylistLightViewModels { Genres = currentGenreForPlaylistModel };
                <div class="col-md-3">
                    <div class="card text-center" onclick="window.location='@Url.Action("All", "Playlists", new { input = currentPlaylistModel })'">
                        <br />
                        <br />
                        <div class="card-img-top">
                            <img class="rounded-circle" src="@item.PictureURL" />
                        </div>
                        <div class="card-body">
                            <h3>
                                @item.Name
                            </h3>
                            <input href="@Url.Action("All", "Playlists", new { input = currentPlaylistModel })" value="View Playlists" id="view-genre-playlists-btn" class="btn btn-primary btn-round">
                        </div>
                        <br />
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-1">

    </div>
</div>
