﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Welcome back!";
}

<div class="row login-row">
    <div class="col-md-6 login-container">
        <section>
            <div class="col-md-6 bg-login-image">

            </div>
            <div class="col-md-6 login-form">
                <form id="account" method="post" class="form">
                    <h2 class="text-center">Welcome back!</h2>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <input asp-for="Input.Email" class="form-control" placeholder="Email..." />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <br/>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-round full-width">Log in</button>
                    </div>
                    <br/>
                    <br/>
                    <div class="form-group text-center">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Create an account!</a>
                        </p>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
