﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row login-row">
    <div class="col-md-6 register-container">
        <div class="col-md-6 bg-register-image">

        </div>
        <div class="col-md-6 login-form">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form" enctype="multipart/form-data">
                <h4 class="text-center">Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.FirstName" class="form-control" placeholder="First name..." />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.LastName" class="form-control" placeholder="Last name..." />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email..." />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password..." />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm password..." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <hr />
                <label>Attach Image</label>
                <input type="file" asp-for="Input.ImageFile" />
                <hr />
                <button type="submit" class="btn btn-primary btn-round full-width">Register</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
