﻿@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    <h4 class="text-center">Change your account settings</h4>
    <div class="row user-row">
        <div class="col-md-2 user-gradient user-content">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-4 card">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
