﻿@page
@using Microsoft.AspNetCore.Identity
@inject PlaylistGenerator.Services.Contracts.IUserService userService

@model IndexModel

@{
    var userCurrent = await userService.GetUserByEmailAsync(User.Identity.Name);
}

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}


<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-11 user-content">
        <h4 class="text-center">@ViewData["Title"]</h4>
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary btn-round">Save</button>
        </form>

        <div>
            <hr />
            @if (userCurrent.ApiKey == null || userCurrent.ApiKey.ToString() == "00000000-0000-0000-0000-000000000000")
            {
                <h4>API <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">⛛</a></h4>
                <div class="collapse" id="collapseExample">
                    <br />
                    <p>Currently you do not have an API Key.</p>
                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <h6>💡 Note</h6>
                        <p>API Key is needed for a User to get access to the PlaylistGenerator.Web Application Programming Interface (API) Services that our company provides.</p>
                        <p>Users can have only 1 API Key per se. You can create an API Key by pressing the button below.</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <a href="@Url.Action("GenerateApiKey", "Home", new { id = userCurrent.Id })" class="btn btn-primary btn-round">Create</a>
                </div>
            }
            else
            {
                <h4>API <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true" aria-controls="collapseExample">⛛</a></h4>
                <div class="collapse show" id="collapseExample">
                    <br />
                    <p>Your current API Key is:</p>
                    <textarea class="form-control" rows="1" disabled>@userCurrent.ApiKey</textarea>
                    <br />
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <h6>⚠️ Warning</h6>
                        <p>Pressing the button below would generate a new API Key associated with your user profile.</p>
                        <p>Notice that <b>the action would delete the current API Key</b> and will disable all API services that are associated with it.</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <a href="@Url.Action("GenerateApiKey", "Home", new { id = userCurrent.Id })" class="btn btn-warning btn-round">Generate</a>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}